.maze-cell {
  border: 1px solid black;
  width: 50px;
}

.maze-row {
  display: flex;
  margin: 0;
  padding: 0;
  height: 50px;
}

.maze-cell.free {
  background-color: white;
}

.maze-cell.wall {
  background-color: black;
}

.maze-cell.player {
  background-color: white;
}
